[global]
type=global
user_agent=Spruik
endpoint_identifier_order=ip,username,anonymous

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
local_net=${PBX_LOCAL_NET}
external_media_address=${PBX_ADVERTISED_ADDRESS}
external_signaling_address=${PBX_ADVERTISED_ADDRESS}

[trunk-auth]
type=auth
auth_type=userpass
username=${SIP_TRUNK_USERNAME}
password=${SIP_TRUNK_PASSWORD}

[extension-101-auth]
type=auth
auth_type=userpass
username=101
password=${EXTENSION_101_PASSWORD}

[extension-102-auth]
type=auth
auth_type=userpass
username=102
password=${EXTENSION_102_PASSWORD}

[trunk-registration]
type=registration
transport=transport-udp
outbound_auth=trunk-auth
server_uri=sip:${SIP_TRUNK_HOST}
client_uri=sip:${SIP_TRUNK_USERNAME}@${SIP_TRUNK_HOST}
contact_user=${SIP_TRUNK_USERNAME}
endpoint=trunk-endpoint
line=yes
expiration=300
retry_interval=30
forbidden_retry_interval=300
fatal_retry_interval=300
max_retries=20

[trunk-aor]
type=aor
contact=sip:${SIP_TRUNK_HOST}
qualify_frequency=60

[trunk-endpoint]
type=endpoint
transport=transport-udp
context=from-trunk
disallow=all
allow=alaw
allow=ulaw
aors=trunk-aor
outbound_auth=trunk-auth
from_user=${SIP_TRUNK_USERNAME}
from_domain=${SIP_TRUNK_HOST}
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[trunk-identify]
type=identify
endpoint=trunk-endpoint
match=${SIP_TRUNK_MATCH_IP}

[101]
type=endpoint
transport=transport-udp
context=from-internal
disallow=all
allow=alaw
allow=ulaw
auth=extension-101-auth
aors=101
callerid=Desktop <101>
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[101]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30

[102]
type=endpoint
transport=transport-udp
context=from-internal
disallow=all
allow=alaw
allow=ulaw
auth=extension-102-auth
aors=102
callerid=Mobile <102>
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[102]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30
